<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Guide</display-name>
  <welcome-file-list>
    <welcome-file>App</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Config</display-name>
    <servlet-name>Config</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.Config</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Config</servlet-name>
    <url-pattern>/Config</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServlet</display-name>
    <servlet-name>MoveServlet</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.MoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServlet</servlet-name>
    <url-pattern>/MoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>App</display-name>
    <servlet-name>App</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.App</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>App</servlet-name>
    <url-pattern>/App</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRequest</display-name>
    <servlet-name>SendRequest</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.SendRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRequest</servlet-name>
    <url-pattern>/SendRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFavorite</display-name>
    <servlet-name>AddFavorite</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.AddFavorite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFavorite</servlet-name>
    <url-pattern>/AddFavorite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFavorites</display-name>
    <servlet-name>GetFavorites</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.GetFavorites</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFavorites</servlet-name>
    <url-pattern>/GetFavorites</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFavorite</display-name>
    <servlet-name>DeleteFavorite</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.DeleteFavorite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFavorite</servlet-name>
    <url-pattern>/DeleteFavorite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublicationOfVacancies</display-name>
    <servlet-name>PublicationOfVacancies</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.PublicationOfVacancies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicationOfVacancies</servlet-name>
    <url-pattern>/PublicationOfVacancies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/GetCaptcha</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishedVacancies</display-name>
    <servlet-name>PublishedVacancies</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.PublishedVacancies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishedVacancies</servlet-name>
    <url-pattern>/PublishedVacancies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStatisticServlet</display-name>
    <servlet-name>GetStatisticServlet</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.GetStatisticServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStatisticServlet</servlet-name>
    <url-pattern>/GetStatistic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersRole</display-name>
    <servlet-name>UsersRole</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.UsersRole</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersRole</servlet-name>
    <url-pattern>/UsersRole</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VacancyInfoServlet</display-name>
    <servlet-name>VacancyInfoServlet</servlet-name>
    <servlet-class>by.bstu.robotics.servlets.VacancyInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VacancyInfoServlet</servlet-name>
    <url-pattern>/VacancyInfo</url-pattern>
  </servlet-mapping>
</web-app>